@using TalentAgileShop.Web.Models
@model TalentAgileShop.Web.Models.CatalogViewModel
@{
    ViewBag.Title = "Catalog";
}


@if (Model.CurrentViewType == CatalogViewModel.ViewType.List)
{

    @Html.Partial("CatalogList", Model.Products)



    if (Model.AllowThumbnailView)
    {
        <div class="container" style="margin-top: 50px">
            <div class="row">
                <div>
                    Go to <a href="@Url.Action("Catalog","Home",new {view = "thumbnail"})">thumbnail View</a>
                </div>
            </div>
        </div>
    }

}
else
{
    @Html.Partial("CatalogThumbnail", Model.Products)

    <div class="container" style="margin-top: 50px">
        <div class="row">
            <div>
                Go to <a href="@Url.Action("Catalog","Home")">List View</a>
            </div>
        </div>
    </div>
}

