@{
    ViewBag.Title = "Talent Agile Shop";
}

<div class="jumbotron">
    <h1>Talent Agile Shop</h1>
    <p class="lead">The ultime site to buy agile stuffs</p>
    <p><a href="http://talentagile.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
   
</div>